<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>324708458995-6tqpgo0aj6atgfri6453uude8574im12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324708458995-6tqpgo0aj6atgfri6453uude8574im12</string>
	<key>API_KEY</key>
	<string>AIzaSyD0N7YJJD3sPjTZDs4gjSAdbOmM8i1j0-E</string>
	<key>GCM_SENDER_ID</key>
	<string>324708458995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Phantom-Hex.Cosplayr</string>
	<key>PROJECT_ID</key>
	<string>cossociation</string>
	<key>STORAGE_BUCKET</key>
	<string>cossociation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:324708458995:ios:9a6263f8d9f0980e</string>
	<key>DATABASE_URL</key>
	<string>https://cossociation.firebaseio.com</string>
</dict>
</plist>
